RAILS_MASTER_KEY=
SECRET_KEY_BASE=

PHOTOS_HOST=photos.wjr.us
PHOTOS_ASSUME_SSL=true
PHOTOS_FORCE_SSL=true
PHOTOS_DATABASE_PASSWORD=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_DRIVE_ARCHIVE_FOLDER_ID=
PHOTOS_OWNER_EMAIL=wjr@wjr.us
PHOTOS_TRUSTED_VIEWER_EMAILS=

RAILS_LOG_LEVEL=info
