<% day_key = photo_stream_day_key(day) %>

<section id="day-<%= day_key %>"
         class="photo-day-group scroll-mt-24"
         data-bulk-selection-group
         data-photo-day-group-key="<%= day_key %>">
  <div class="photo-day-group-grid">
    <% photos.each_with_index do |photo, index| %>
      <%= render "photos/card",
            photo: photo,
            return_to: return_to,
            feature: false,
            day_label: (photo_stream_day_label(day) if index.zero?),
            day_key: (day_key if index.zero?),
            bulk_form_id: bulk_form_id,
            owner_controls: owner_controls,
            archive_context: local_assigns[:archive_context],
            album: album %>
    <% end %>
  </div>
</section>
